#board-info {
    letter-spacing: -0.5px;
}

#board-info>a.board-right-menu {
    padding: 12px 9px;
}

#board-info>h1 {
    padding: 0.5em 0.3em;
}

#board-info>h1>#board-info-profile-img {
    content: url("https://sweetrin.github.io/tgd/catrin.png");
    width: 23px;
    height: 23px;
    display: inline-block;
}