@import url("https://sweetrin.github.io/tgd/emoticons.css");

@font-face {
    font-family: 'HCRDotum';
    src: local('HCR Dotum'), url('https://sweetrin.github.io/tgd/HCRDotum.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;
    unicode-range:U+0-7D,U+7F-10FFFF;
}

html,body{
    /*height: auto !important;*/
    /*font-family: 'HCRDotum', "Helvetica Neue", Helvetica,Arial, sans-serif;*/
	background:#fff;
}

body{
    
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url('https://sweetrin.github.io/tgd/kgd_logo-white.png') no-repeat;
}

header .row > div:nth-child(1) > a img{
    opacity: 0;
}

header #header-bar>.row {
    border: 0;
    border-bottom: 1px solid #333;
}

#main .menu-wrapper>.header {
    background: #fff;
    color:#000;
}

#main .menu-wrapper {
    border: 0;
    margin-bottom: 1.1em;
    border-right: 1px solid #333;
}

#main .menu-wrapper>.header>a {
    color: #000;
}

#main .menu-wrapper>a {border-bottom: 0;}

#main .menu-wrapper .spacer {
    /* background: #fff; */
    height: 0;
}

header #header-bar #header-menu-left {
    border-right: 1px solid #000;
    border-right: 0;
}

header #header-bar #header-menu-right {
    border-left: 1px solid #000;
    border-left: 0;
}

#main .menu-wrapper>a>em {
    color: gray;
}

#main .menu-wrapper>a>i.fa.fa-square {
    color: gray;
}

#article-list #article-list-category {
    border: 0;
    background: #fff;
    padding: 0 0 1em;
}

#article-list #article-list-category>a {
    background: #fff;
    padding: 11px 17px;
    /* font-size: 13px; */
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    display: none;
}

#article-list>.article-list-row {
    border-right: 0;
}

#article-list>.article-list-row>.item>.list-header {
    border-left: 0;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 0;
}

#article-list>.article-list-row>.item>.list-title>.list-writer {
    border: 0;
}

#article-list>.article-list-row>.item>.list-title>.list-category {
    border: 0;
}

#main #main-content>div.frame {
    border: 0;
    /* background: linear-gradient(135deg, #000 0%,#000 0.5%,#fff 0.5%, #FFF 100%); */
}

#board-info h1 {
    border-bottom: 0;
    padding-bottom: 0.3em;
}

#board-info #board-info-profile-img {
    background: url("https://sweetrin.github.io/tgd/ash_beige-rin.png");
    content: "";
    width: 90px;
    height: 90px;
    padding-left: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    border-radius: 0px;
    z-index: 99;
}

#board-info {
    display: block;
    height: auto;
    margin-bottom: 0.5em;
}

#article-list>.article-list-row.notice {
    background: #fff;
    /*background: #f6f6f6;*/
}

#article-list>.article-list-row:nth-child(3) {
    /*border-top: 1px solid #e0e0e0;*/
}

#article-list>.article-list-row>.item>.list-header>span {
    background: transparent;
    color: #000;
}

header #right-search-form>input[type=text] {
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 14px;
}

.pagination>li>a, .pagination>li>span {
    border: 0;
    color: #000;
    padding: 5px 11px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #000;
    /* border-radius: 100px; */
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #000;
    padding:7px 6px 6px;
}

.btn-primary {
    background-color: #000;
    border-color: #000 !important;
}

#article-list #boardSearchForm .form-control {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #000;
}

header #right-search-form>#right-search-btn {
    color: #000 !important;
    font-size: 17px;
}

.btn.square.btn-default.dropdown-toggle {
    border: 0;
}

.btn.square.btn-default:last-child {
    border: 0;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000;
}

#board-info #board-info-bottom a {
    border-right: 0;
    padding: 0 9px;
}

.btn-primary:hover {
    background-color: #000;
}

.fa.fa-home {
    color: #000;
}

#article-list #article-list-category>a:first-child {
    font-size: 13px;
    padding-left: 14px;
}

#article-list>.article-list-row:hover {
    background: #f8f8f8;
}

#article-content-wrapper>.header {
    border-top: 0;
    background: #fff;
}

#article-info>h2>span.category {
    border-right: 0;
}

#article-content-wrapper>.footer {
    background: #fff;
}

#article-content-wrapper #article-content {
    border: 0;
}

#article-content-wrapper>.vote-area {
    border: 0;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    border: 0;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #fff;
    border: 0;
}

.btn {
}

#article-info #article-info-writer {
    border-bottom: 1px solid #e2e2e2;
    padding-left: 0.1em;
}

.btn-outline-success {
    color: #181d1a;
    border-color: #181d1a;
}

.btn-outline-success:hover {
    background-color: #000;
    border-color: #000;
}

#article-reply-area > .header h5 {
    color: #181d1a;
}

#lastc {
    color: #181d1a;
}

#article-info .article-profile-img {
    border-radius: 100px
}

#article-reply-area #reply-real-area .reply > .reply-content, #article-reply-area #reply-best-area .reply>.reply-content {
    padding: 0.3em 0.7em 1.5em;
}

.fr-toolbar {
    border-top-color: #000;
}

#main #main-menu {
    font-size: 13px;
}

.btn{
    border-radius:0;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #000 !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #000;
}

.fa-thumbs-up:before {
    content: "\f004";
}

.fr-popup .fr-emoticon {
    width: 30px;
    transition: 0.05s;
    /*padding: 6px;*/
}

.fr-popup .fr-emoticon img {
    height: 30px !important;
}

.fr-popup .fr-emoticon:hover {
    transform: scale(1.66);
    background: transparent;
}

.fr-popup.fr-desktop.fr-ltr.emoticons.fr-active {
    padding: 0.2em;
}