@keyframes a {
    0%{z-index:999;opacity:1;}
    100%{z-index:999;opacity:0;}
}

#article-list:before {
    content:'';
    background-image: url('https://sweetrin.github.io/tgd/fake_screen.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: -610px;
    top: -215px;
    animation: a 3s linear;
    opacity:0;
    z-index: -999;
}

.article-list-row.has-category .item .list-title a[title="4월 1일 방송 공지"]:after {
    color: #bf53e0;
    content: "(가 있어!!)";
}

.article-list-row.has-category .item .list-title a[title="4월1일 방송 공지"]:after {
    color: #bf53e0;
    content: "(가 있어!!)";
}

.article-list-row.has-category .item .list-title a[title="4월 1일 방송공지"]:after {
    color: #bf53e0;
    content: "(가 있어!!)";
}

.article-list-row.has-category .item .list-title a[title="4월1일 방송공지"]:after {
    color: #bf53e0;
    content: "(가 있어!!)";
}