/*** 컬러 ***/
:root {
    --main-color: #a85ccc;
    --rins-color:#8027aa;
    --light-color: #d2a5e6;
    --category-2nd-color: #fb2b2b;
    --category-3rd-color: #292929;
    --category-4th-color: #00b050;
    --category-5th-color: #6a49a9;
    --category-6th-color: #f157ab;
    --category-7th-color: #00b0f0;
    --category-8th-color: #ffc000;
    --text-color: #444444;
    --visited-color: #b7b7b7;
    --rank-badge-color: #718bec;
    --recommend-count-color: #ec71b5;
    --button-hover-color: #9753b7;
    --cursor-highlight-color:#f8f0ff
}

@-webkit-keyframes Gradient{
0%{background-position:0 50%}
50%{background-position:100% 50%}
100%{background-position:0 50%}
}

@-moz-keyframes Gradient{
0%{background-position:0 50%}
50%{background-position:100% 50%}
100%{background-position:0 50%}
}

@keyframes Gradient{
0%{background-position:0 50%}
50%{background-position:100% 50%}
100%{background-position:0 50%}
}

@-webkit-keyframes RinsHeart{
    0%{transform:scale(1)}
    10%{transform:scale(1.3)}
    20%{transform:scale(1)}
    30%{transform:scale(1.3)}
    40%{transform:scale(1)}
    100%{transform:scale(1)}
}

@-moz-keyframes RinsHeart{
    0%{transform:scale(1)}
    10%{transform:scale(1.3)}
    20%{transform:scale(1)}
    30%{transform:scale(1.3)}
    40%{transform:scale(1)}
    100%{transform:scale(1)}
}

@keyframes RinsHeart{
    0%{transform:scale(1)}
    10%{transform:scale(1.3)}
    20%{transform:scale(1)}
    30%{transform:scale(1.3)}
    40%{transform:scale(1)}
    100%{transform:scale(1)}
}

/* 별장난 */
@-webkit-keyframes {
    100%{transform:rotate(3000deg);}
}

@-moz-keyframes {
    100%{transform:rotate(3000deg);}
}

@keyframes RotateStar {
    100%{transform:rotate(3000deg);}
}

span.a-badge i.fa.fa-star {
    -webkit-animation: RotateStar 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    -moz-animation: RotateStar 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    animation: RotateStar 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

/* 텍스트 선택 색상 */
::selection {
   background: var(--main-color);
   color: #fff;
}

/* 폰트 */
@font-face {
    font-family: 'HCRDotum';
    src: local('HCR Dotum'), url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HCRDotum.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    unicode-range:U+0-7D,U+7F-10FFFF;
}

body, html {
    height: auto !important;
    font-family: 'HCRDotum', "Helvetica Neue", Helvetica,Arial, sans-serif;
    background: linear-gradient(180deg,#efe8f3 0,#805caf 82%,#004e92 100%);
    /* background: #efe8f3; */
}

body{
    background-image: url(stars.png);
    color:var(--text-color);
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 150px;
    height: 50px;
    background: url(https://sweetrin.github.io/tgd/kgd_logo.png) no-repeat;
}

header .row > div:nth-child(1) > a img{
    opacity: 0;
}

header #header-bar a.dropdown-toggle, header #header-bar #header-top-notice a {
    color: var(--text-color);
}

#main .menu-wrapper>a {
    color: var(--text-color);
}

#article-list>.article-list-row>.item>.list-title>a {
    color: var(--text-color) !important;
}

footer {
    color: #fff;
}

/* 왼쪽 메뉴 헤더 */
#main .menu-wrapper > .header {
    background: var(--main-color);
    border-radius: 7px 7px 0 0;
}

/* 왼쪽 메뉴 이니셜 */
#main .menu-wrapper > a > em {
    color: var(--main-color);
}

/* 위쪽 전광판 */
header #header-bar>.row {
    border-top-color: var(--main-color);
    border-radius: 7px;
    border-right: 0;
    border-bottom: 0;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: var(--main-color);
}

/* 콤콤코인 내역 */
#main-content > .frame > .frame {
    background: #ffffff3d;
    border-radius: 7px;
}

/* 자캐 이미지와 게시판 메인 부분 */
#board-info {
    height: 45px;
    display: flex;
    background: #fff;
    border-radius: 7px;
    overflow: inherit;
    padding: 0.6em 0.7em;
    margin-bottom: 2.5em;
}

#board-info #board-info-profile-img {
    width: 4.5em;
    height: 4.5em;
    border-radius: 100px;
    float: left !important;
    border: 3px solid #e886e1;
    margin-right: 0.9em;
    box-shadow: 1px 1px 3px 1px #9a9a9a;
}

#board-info h1 {
    border-bottom: 0;
    border-left: 1px dashed #adadad;
    padding: 0 0.4em;
}

/* 스트리머 닉넴 */
#board-info > h1 > a {
	visibility: hidden;
	letter-spacing: -1em;
	margin-right: 0.1em;
}

#board-info > h1 > a:before {
    visibility: visible;
    letter-spacing: 0em;
    content: "달콤린";
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
}

/* 생존자라니.. */
#board-info #viewers-area {
    color: var(--main-color);
    font-size: 13px;
    vertical-align: bottom;
}

#viewers-area > i.fa.fa-user {
    vertical-align: bottom;
}

#board-info #viewers-area #viewers:before {
    content: "당 중독자 ";
}

#board-info #viewers-area #viewers:after {
    content:"명"; 
}

/* 생존자 애기 트수 */
#board-info #viewers-area .fa-user:before {
    /*content: url('https://raw.githubusercontent.com/SRSRsweet/kgd/master/human2.png');*/
    content: url('candy_18x18.png');
}


/*** 게시판 목록 부분 ***/


/* 게시판 카테고리 윗줄 */
#article-list #article-list-category {
    border-top: 0;
    border-radius: 7px 7px 0 0;
    padding: 0.2em 0.5em;
    background: var(--light-color);
}

/* 게시판 카테고리 */
#article-list #article-list-category > a {
    margin: 10px 7px;
    padding: 6px 15px;
    /* border: 1px solid; */
    border-radius: 100px;
    color: #fff !important;
}

#article-list #article-list-category > a:nth-child(1) {
    background: var(--main-color);
    border-color: var(--main-color);
}

#article-list #article-list-category > a:nth-child(2) {
    background: #fb2b2b;
    border-color: #ffffff;
}

#article-list #article-list-category > a:nth-child(3) {
    background: #292929;
    border-color: #292929;
}

#article-list #article-list-category > a:nth-child(4) {
    background: #00b050;
    border-color: #00b050;
}

#article-list #article-list-category > a:nth-child(5) {
    background: #6a49a9;
    border-color: #6a49a9;
}

#article-list #article-list-category > a:nth-child(6) {
    background: #f157ab;
    border-color: #f157ab;
}

#article-list #article-list-category > a:nth-child(7) {
    background: #00b0f0;
    border-color: #00b0f0;
}

#article-list #article-list-category > a:nth-child(8) {
    background: #ffc000;
    border-color: #ffc000;
}

#article-list #article-list-category > a:nth-child(1):hover {
    background: #fff;
    color: var(--main-color) !important;
}

#article-list #article-list-category > a:nth-child(2):hover {
    background: #fff;
    color: #ff0000 !important;
}

#article-list #article-list-category > a:nth-child(3):hover {
    background: #fff;
    color: #000000 !important;
}

#article-list #article-list-category > a:nth-child(4):hover {
    background: #fff;
    color: #00b050 !important;
}

#article-list #article-list-category > a:nth-child(5):hover {
    background: #fff;
    color: #6a49a9 !important;
}

#article-list #article-list-category > a:nth-child(6):hover {
    background: #fff;
    color: #f157ab !important;
}

#article-list #article-list-category > a:nth-child(7):hover {
    background: #fff;
    color: #00b0f0 !important;
}

#article-list #article-list-category > a:nth-child(8):hover {
    background: #fff;
    color: #ffc000 !important;
}

#main #main-content>div.frame {
    background: transparent;
    border: 0;
    padding: 0;
}

div#board-info-bottom {
    flex: auto;
    text-align: right;
}

#article-list {
    padding: 0 0 1.6em 0;
    background: #fff;
    border-radius: 7px;
}

#board-info #board-info-bottom a {
    border-right: 0;
}

.badge {
    background-color: #718bec;
}

#article-list #article-list-menu>.btn.best {
    margin-left: 1.4em;
}

#article-list #article-list-menu>.btn.write {
    margin-right: 1.4em;
    border-radius: 4px;
    border-color: var(--main-color);
}

#main .menu-wrapper {
    border: 0;
}

#board-info #board-info-bottom {
    padding-top: 5px;
}

#main .menu-wrapper>a:nth-last-child(1) {
    border-radius: 0 0 7px 7px;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 0;
}

#article-list>.article-list-row>.item>.list-header {
    border-left: 0;
}

#article-list>.article-list-row {
    border-right: 0;
    padding: 0 0.4em 0 0.4em;
}

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: var(--visited-color) !important;
}

#article-list>.article-list-row.notice:hover, #article-list>.article-list-row:hover {
    background-color: var(--cursor-highlight-color);
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
    height: auto;
}

#article-list>.article-list-row>.item>.list-title {
    padding: 8px 0;
}

#article-list>.article-list-row:hover .item>.list-header.v0>span, #article-list>.article-list-row>.item>.list-header.v0>span:hover {
    background: var(--cursor-highlight-color);
    color: var(--cursor-highlight-color);
}

/* 핫! (인기 글) */
#article-list>.article-list-row.hot {
    background: linear-gradient(-45deg,#ffe7fb,#f3e2ff,#eceaff,#d6eeff);
    /* background-size: 400% 400%; */
    /* -webkit-animation: Gradient 15s ease infinite; */
    /* -moz-animation: Gradient 15s ease infinite; */
    /* animation: Gradient 5s ease infinite; */
}

/* 추천 수 */
#article-list > .article-list-row > .item > .list-header > span {
    background-color: #ec71b5;
    padding:0px 5px 1px 5px;
    font-weight: normal;
}

/* 아래 페이지 번호 */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.pagination > li > a, .pagination > li > span {
    color: var(--main-color);
}

/* 글쓴이 */
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color:#8027aa;
}

/* 오른쪽 상단 검색 부분 */
header #right-search-form>input[type=text] {
    border: 3px solid var(--main-color);
}

header #right-search-form > #right-search-btn {
    color: var(--main-color);
}

/* 버튼 */
.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#article-list #article-list-menu>.btn.best {
    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 4px;
}

/* 달콤 하또 */
#article-list i.fa.fa-heart {
    -webkit-animation: StarSS 2s infinite;
    -moz-animation: StarSS 2s infinite;
    animation: RinsHeart 3.5s infinite;
}

/* 글 목록 맨 아래 줄 */
#article-list>div:nth-last-child(3) {
    /* border-bottom: 1px solid #e2e2e2 */
}


/*** 글 내용 출력 부분 **/


/* 글 제목 */
#article-info>h2 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 0 0 0.2em;
}

#article-info .article-profile-img {
    top: 0.7em;
    right: 0.9em;
}

/* 헤더 */
#article-content-wrapper>.header {
    border-top: 2px solid var(--main-color);
}
       
/* '댓글' 문자 */
#article-reply-area > .header h5, #lastc {
    color: var(--main-color);
}

/* 댓글 도구 상자 */
.fr-toolbar {
    border-top:5px solid var(--main-color);
}

#article-reply-area #reply-real-area .reply > .reply-content, #article-reply-area #reply-best-area .reply>.reply-content {
    padding: 0.8em 1em;
}

#comment-write-form-area {
    padding: 0;
}

#article-info {
    background: var(--main-color);
    border-radius: 7px 7px 0 0;
    padding: 0.7em 0.9em 0;
    height: 59px;
    margin-top: 0.5em;
}

#article-content-wrapper #article-content {
    background: #fff;
    padding: 1em 1.2em;
}

#article-content-wrapper>.vote-area {
    background: #fff;
}

.btn-outline-success, .btn-outline-success:focus {
    color: var(--main-color);
    border-color: var(--main-color);
}

.btn-outline-success:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#article-content-wrapper>.footer {
    border-radius: 0 0 7px 7px;
    padding: 1em;
}

#article-reply-area>.header {
    background: var(--main-color);
    border-radius: 7px 7px 0 0;
    padding: 0.9em 1em 0.8em;
}

#article-reply-area > .header h5, #lastc {
    color: #fff;
}

#article-reply-area {
    background: #fff;
    border-radius: 8px 8px 7px 7px;
    padding: 0 0 0.1em;
}


#article-reply-area #reply-real-area, #article-reply-area #reply-best-area {
    padding: 0;
}

#article-content-wrapper {
    padding: 0 0 1.5em;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    border-bottom: 0;
    padding: 0.4em 1em 0.4em 1em;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    border: 0;
    margin-bottom: 0;
}

#article-info #article-info-writer {
    color: #fff;
    padding-top: 4px;
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: var(--button-hover-color) !important;
    border-color: var(--button-hover-color) !important;
}

#article-info>h2>span.category {
    color: #fff !important;
}

/* 베스트 댓글 배경색 */
#article-reply-area #reply-best-area div.reply-content {
    background: #f8edfd;
}

/* 새로운 댓글 배경색 */
#article-reply-area #reply-real-area .reply.active, #article-reply-area #reply-best-area .reply.active {
    background-color: #fff0f9;
}

/* 마지막 댓글과 '새 댓글' 버튼 간격 */
div#reply-real-area {
    margin-bottom: 0.5em;
}

/* 대댓글 들여쓰기 */
#article-reply-area #reply-real-area .reply.d-1, #article-reply-area #reply-best-area .reply.d-1 {
    margin-left: 2.6em;
}

#article-reply-area #reply-real-area .reply.d-2, #article-reply-area #reply-best-area .reply.d-2 {
    margin-left: 5.2em;
}

#article-reply-area #reply-real-area .reply.d-3, #article-reply-area #reply-best-area .reply.d-3 {
    margin-left: 7.8em;
}

#article-reply-area #reply-real-area .reply.d-4, #article-reply-area #reply-best-area .reply.d-4 {
    margin-left: 10.4em;
}


/*** 글쓰기 ***/


form#articleWriteForm {
    background: #fff;
    border-radius: 0 0 7px 7px;
    padding: 0.5em 0 1em;
}

.row.mt-2 {
    margin-top: 0;
    padding: 0.5em 1em 0;
}

#comment-write-form-area > #comment-write-form.mt-2 {
    padding: 0 1.2em;
}

header #header-bar #header-menu-right #userDropdown #notification-badge {
    background: #f92f2f;
}

a.custom-badge-link.active {
    border-color: var(--light-color);
}

#main-content > .frame > h3 {
    background: #fff;
    padding: 0.5em 0.6em 0.1em;
    border-radius: 7px 7px 0 0;
}

#main-content > .frame > #articleWriteForm > .mt-2 {
    padding: 0 1em;
}


/*** 기타 ***/


/* Header Bar 하단 알림 박스 */
.alert-success {
    background-color: #d8f0de;
    border-color: #d8f0de;
}
