/*Keyframes*/
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

body {
	background-color: #cabce4; 
	background-image: url('snow.png'), url('snow3.png'), url('snow2.png');
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;	
}

header .row>div:nth-child(1)>a{
	display:block;width:150px;height:50px;background:url(https://sweetrin.github.io/tgd/komgether_logo.png) no-repeat}header .row>div:nth-child(1)>a img{opacity:0
}

header #right-search-form>input[type=text] {
    border: 3px solid #8027aa;
}

header #header-bar>.row {
    border-right: 0;
}

#main .menu-wrapper {
    border-right: 0;
}

#main #main-content>div.frame {
    border-right: 0;
}

#board-info {
    height: auto;
    padding: 1em 1em 0em;
    margin: 0 0 0.7em;
}


#board-info #board-info-profile-img {
    width: 4.5em;
    height: auto;
}

#board-info .img-rounded {
    border-radius: 100%;
}

#board-info>h1>a {
	visibility:hidden;letter-spacing:-1em;}#board-info>h1>a:before {visibility:visible;letter-spacing:0em;content:"달콤린";color:#8027aa;
}

#board-info h1 {
    padding-bottom: 8px;
}

#board-info #viewers-area {
    vertical-align: bottom;
}
