/*Keyframes*/
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

body {
	background-color: #cabce4; 
	background-image: url('snow.png'), url('snow3.png'), url('snow2.png');
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;	
}

#board-info {
    height: auto;
    overflow: hidden;
    line-height: 1;
    padding: 1em 1em 0.5em;
}


#board-info #board-info-profile-img {
    width: 4.5em;
    height: auto;
}

#board-info .img-rounded {
    border-radius: 100%;
}

#board-info>h1>a {
	visibility:hidden;letter-spacing:-1em;}#board-info>h1>a:before {visibility:visible;letter-spacing:0em;content:"달콤린";color:#8027aa;
}
